/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site

!/[Aa]ssets/**/*.meta
[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.idea/
.gradle/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties

# TextMeshPro Depdendency
TextMesh Pro
TextMesh Pro.meta
